body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgb(192, 147, 63);
}
.quem-somos {
    background-color: rgb(202, 199, 199);
    color: rgb(20, 20, 20);
}

.margin {
    padding-top: 15px;
    padding-bottom: 50px;
}
.parc{
    background-color: rgb(109, 109, 184);
}

.bg-footer {
    background-color: black;
    color: white;
}